[Unit]
Description=Gunicorn daemon (You can change if you want)
Requires= contact.socket
After=network.target

[Service]
User=projetopython
Group=www-data
Restart=on-failure
# EnvironmentFile=/home/projetopython/contactapp/.env
WorkingDirectory=/home/projetopython/contactapp
# --error-logfile --enable-stdio-inheritance --log-level and --capture-output
# are all for debugging purposes.
ExecStart=/home/projetopython/contactapp/venv/bin/gunicorn \
          --error-logfile /home/projetopython/contactapp/gunicorn-error-log \
          --enable-stdio-inheritance \
          --log-level "debug" \
          --capture-output \
          --access-logfile - \
          --workers 6 \
          --bind unix:/run/ contact.socket \
          project.wsgi:application

[Install]
WantedBy=multi-user.target
