* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html, body {
    height: 100%;
  }
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
input, button, textarea, select {
    font: inherit;
  }
  
/* p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  } */
body {
    background-color: black;
    justify-items: center;
    
    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.menu {
    padding: 1rem;
}
.menu h1 a {
    color: white;
}
.conteiner {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    padding: 2rem;
}
.registra-link {
    display: flex;
    text-align: center;
    border:  0.02rem solid red;
    
    background-color: rgb(6, 248, 6);
    border-radius: 10rem;
    box-shadow:  0 10px 14px rgba(0, 255, 76, 0.5);
    /* width: 80%; */
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 1rem;
    align-items: center;
}