<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Python </title>
    <style>
        body {
            justify-items: center;
            background: red;
        }

        main {

            height: 80vh;
            justify-items: center;
            background: blue;
        }
    </style>
</head>

<body>
    <main>
        <h2>Projeto Com Django do Python </h2>
        <h1>Voce está Conectado com Github</h1>

        <h1>Parabens Voce esta conectado com seu IP</h1>
    </main>
</body>

</html>