{% extends "global/base.html" %}
{% block contente %}

<div>
    <div>
        <a class="btn-adc" href=" {% url 'contact:create_ocorrencia' %} ">Adicionar</a>
    </div>
    <section class="main-sect">

        <div class="table-caption">
            <form action="{% url 'contact:search_ocorrencias' %}" method='get' >
                <input type="search" 
                placeholder="Buscar ocorrencia"
                id="Buscar"
                name = "q"
                value='{{ request.GET.q.strip }}'
                required>
            </form>
        </div>

        {% if ocorrencia_page_obj %}

        <div class="responsive-table">
            <table class="table-menu">

                <thead class="table-thead">

                    <tr class="table-tr">

                        <th class="table-th">Dia</th>
                        <th class="table-th">nome_Resp</th>
                        
                    </tr>

                </thead>

                <tbody class="table-tbody">
                    {% for ocorrencia in ocorrencia_page_obj %}
                    <tr>
                        <td class="table-td">
                            <a class="link-a" 
                            href=" {% url 'contact:ocorrencias_id' ocorrencia.id %} "
                            >
                                {{ ocorrencia.data }}
                            </a>
                        </td>

                        <td class="table-td">
                            {{ ocorrencia.nomeResp }}
                        </td>

                    </tr>

                    {% endfor %}
                </tbody>
            </table>

            {% include "contact/pag_ocorrencia.html" %}

        </div>

        {% else %}
        <div class='single-perfil'>
            Nada encontrado...
        </div>

        {% endif %}

    </section>
</div>
{% endblock contente %}