{% extends "global/base.html" %}
{% block contente %}
<div>
    <div class='single-perfil'>
        {{ ocorrencia.nomeResp }} 
        <p><b>Data:</b> {{ ocorrencia.data }}</p>
        <p><b>Ocorrencias:</b> {{ ocorrencia.ocorrencia }}</p>
    </div>
    <div class="form-buttons">
        <a href="{% url 'contact:update_ocorrencia' ocorrencia.id %}" class="btn atualizar">
          Atualizar
        </a>
      
        <form action="{% url 'contact:delete_ocorrencia' ocorrencia.id %}" method="POST" class="form-inline">
          {% csrf_token %}
          <button type="submit" class="btn apagar">Apagar</button>
        </form>
      </div>
</div>
{% endblock contente %}